@import url("https://fonts.googleapis.com/css2?family=poppins:wght@500&display=swap")
body{
    font-family: 'Poppins', sans-serif;
    background-color: #562EFF;
    
}

/* Enjoy This Match */

.copa-america{
    display: flex;
    background-color:rgb(53, 53, 243);
    text-align: center;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 15px;
}
.copa-america h1{
    font-size: 60px;
}
.copa-america h1,h3{
    color: white;
}
.copa-america h3{
    height: 80px;
    width: 80px;
    border: 2px solid rgb(223, 214, 214);
    background-color: rgb(240, 128, 184);
    border-radius: 10px;
    transition: width 5s, height 5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}
h3:hover{
    height: 100px;
    width: 100px;
}
.copa-america img{
    width: 500px;
    height: 500px;
    margin-bottom: 30px;
}

/* Football players */

.players{
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 20 20 40 rgb(226, 224, 224);
    border-radius: 10px;
   
    margin-left: 60px;
    margin-right: 100px;
    margin-top: 100px;

}
.player img{
    width:250px;
    height:200px;
}
.player{
    margin-right: 5px;
    margin-left: 5px;
    padding: 20px;
    border: 2px solid rgb(206, 202, 202);
    border-radius: 10px;
}
/* see copa america final in youtube */

.video-player, .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 170px;
    padding-bottom: 63px;
}
.video-player h2{
    font-size: 50px;
    background-color:rgb(53, 53, 243);
    color: white;
}
.logo-football img{
width: 227.82px;
height: 67.42px;
}

/* Media queries */
@media only screen and (max-width:688px){
.players{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.copa-america{
    display:flex;
    flex-direction: column;
}
}
@media only screen and (min-width:688px and /max-width:992px){
    .player .copa-america{
        grid-template-columns: repeat(2, 1fr);
    }
}